<section class="section intro">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="section-title pt-5">
					<span class="h6 text-color ">{{ .preheading | markdownify }}</span>
					<h2 class="mt-3">{{ .heading | markdownify }}</h2>
				</div>
			</div>

			<div class="col-lg-6 ml-auto">
				<div class="row">
					{{ range .sections }}
						<div class="col-lg-6 col-md-6">
							<div class="intro-item mb-4 mb-lg-0">
								<i class="{{ .icon }} text-color"></i>
								<h4 class="mt-4">{{ .title | markdownify }}</h4>
								<p>{{ .text | markdownify }}</p>
							</div>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>